<table>
	<% @food_items.each do |food_item| %>
	<tr>
		<% @sum = @sum + food_item.price %>
		<td><%= food_item.name %></td>
		<td><%= food_item.price %></td>
	</tr>
	<% end %>
	<tr>
		<td>--------------------------------------</td>
		<td>-----------</td>
	</tr>
	<tr>
		<td>Sub-Total</td>
		<td><%= @sum %></td>
	</tr>
	<tr>
		<td>Suggested Tip:</td>
	</tr>
</table>
<p>---------------------------------------------------</p>
<p>15%: $<%= @sum*0.15 %> | 20%: $<%= @sum*0.2 %> | 25%: $<%= @sum*0.25 %></p>
<p>---------------------------------------------------</p>
<br>
<p>Tip: ___________________________</p>
<br>
<p>Total:__________________________</p>