<h1>Table <%= @table.number %></h1>

<div class="guests">
	<h2><span class="num_guests"><%= @table.number_guests 	%></span> Guests</h2>


	<form class="delete" action="/tables/<%=@table.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="DELETE" >
	</form>
	<div class="background">
		<h2>Orders:</h2>
		<ul>
		<% @table.orders.map do |order| %>
			<li>
				<%= order.food_item.name %>
			</li>
		<% end %>
		</ul>
	</div>
</div>

<div class="display">
	<form class ="menu background" action="/orders" method="post">
		<% @food_items.each do |food| %>
			<% unless food.name == 'NO CHARGE' %>
				<input type="hidden" name="table[number]" value="<%= @table.id %>">
				<label class="menu-item"><input type="checkbox" name="food_item[]" value="<%= food.id %>"> <%= food.name %> </label><br>
			<% end %>
		<%end%>
		<input type="submit">
	</form>
	<form class ="pay" action="/tables/<%= @table.id %>/checkout" method="post">
				<input type="hidden" name="_method" value="patch">
				<input class ="pay" type="submit" value="Pay">
			</form>
</div>